body {
  margin: 10px 25% 0;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-bottom: 20px;
}

#image {
  display: block;
  margin: auto;
}

#solution {
  min-height: 18px;
  padding: 10px 0;
  text-align: center;
}

#buttons-wrapper {
  text-align: center;
}

.step-radios {
  padding-top: 10px;
  text-align: center
}
